
<h3>ADD BOOKMARK</h3>
<form action='/bookmarks' method='post'>
  <input type='text' name='url' placeholder='URL'>
  <input type='text' name='title' placeholder='TITLE'>
  <button type='submit' id='submit'> Add </button>
</form>
